 <h3> Comment </h3>

   <%= simple_form_for @comment, data:{turbo: false} do |f| %>
   <%= f.hidden_field :user_id, value:  current_user.id %>
   <%= f.hidden_field(:post_id, value:  @post.id) %>
 
    <div class= "mt-4">
      <%= f.input :comment %>  
    </div> 
    <div class= "mt-4 ">
      <%= f.submit "comment" , class: "btn btn-primary"%>
    </div>
   <% end %>

